.containerHome {
  width: 70vw;
  margin-bottom: 100px;
}

.containerHome .titulo-principal {
  font-size: 30px;
}

.containerHome .titulo-principal:after {
  content: '|';
  margin-left: 2px;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.logo svg {
  width: 200px;
  height: 100%;
}

.menu-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}

.menu-links ul li {
  display: inline-block;
  margin-left: 20px;
}

.menu-links ul li a {
  text-decoration: none;
}

.light .menu-links ul li a {
  color: #666666;
}

.dark .menu-links ul li a {
  color: #D9D9D9;
}

.menu-icon {
  display: none;
  position: absolute;
  width: 40px;
  right: 10px;
  top: 0;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 0px;
  cursor: pointer;
}

.btn-left {
  position: absolute;
  height: 8px;
  width: 15px;
  top: 25px;
  left: 0px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-right {
  position: absolute;
  height: 8px;
  width: 15px;
  top: 25px;
  left: 15px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-left:before {
  position: absolute;
  width: 15px;
  height: 8px;
  content: "";
  top: -12px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-left:after {
  position: absolute;
  width: 15px;
  height: 8px;
  content: "";
  top: 12px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-right:before {
  position: absolute;
  width: 15px;
  height: 8px;
  content: "";
  top: -12px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-right:after {
  position: absolute;
  width: 15px;
  height: 8px;
  content: "";
  top: 12px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.active .btn-left {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: transparent !important;
}

.active .btn-left:before {
  -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
  transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}

.active .btn-left:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
  transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}

.active .btn-right {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: transparent !important;
}

.active .btn-right:before {
  -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
  transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}

.active .btn-right:after {
  -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
  transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}

.light .btn-left,
.light .btn-right,
.light .btn-left:before,
.light .btn-left:after,
.light .btn-right:before,
.light .btn-right:after {
  background-color: #000000;
}

.dark .btn-left,
.dark .btn-right,
.dark .btn-left:before,
.dark .btn-left:after,
.dark .btn-right:before,
.dark .btn-right:after {
  background-color: #D9D9D9;
}

.containerInfoHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 50px;
  line-height: 45px;
  font-weight: 700;
  margin: 50px 0;
  gap: 10px;
}

.containerHome .myName {
  background: linear-gradient(90deg, rgba(19, 176, 245, 1) 0%, rgba(231, 15, 170, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.containerHome .perfil {
  width: 250px;
  height: 100%;
}

.buttonMode {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.iconMode {
  width: 35px;
}

.containerSocial {
  display: flex;
  gap: 15px;
  margin-top: 0;
}

.dark .socialIcon path {
  fill: #D9D9D9 !important;
}


@media screen and (max-width: 768px) {
  .menu-links {
    display: none;
    position: absolute;
    top: 70px;
    width: 130px;
    height: 360px;
    right: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .containerSocial {
    justify-content: center;
  }

  .light .menu-links,
  .light .menu-links a {
    background-color: #000000;
  }

  .dark .menu-links,
  .dark .menu-links a {
    background-color: #D9D9D9;
  }

  .menu-links.open {
    display: block;
  }

  .menu-icon {
    display: flex;
  }

  .menu-links ul {
    flex-direction: column;
    align-items: start;
    gap: 30px;
    height: 100%;
    margin-top: 30px;
  }

  .menu-links .buttonMode {
    margin-left: 10px;
  }

  .containerInfoHome {
    justify-content: center;
    font-size: 35px;
    line-height: 35px;
  }

  .containerHome {
    width: 90vw;
  }

  .containerHome .titulo-principal {
    max-width: 600px;
    font-size: 25px;
  }

  .containerHome .perfil {
    width: 200px;
    height: 100%;
    order: 1;
  }

  .containerTitles {
    order: 2;
  }

  .containerHome .titulo-principal {
    width: 283px;
  }


  .light .menu-links ul li a {
    color: #D9D9D9;
  }

  .dark .menu-links ul li a {
    color: #666666;
  }
}